$tablet-wdith: (min-width:768px);
$desktop-width: (min-width:1200px);
$main-blue: #81b3d2;

@mixin clearfix {
 	&:after {
 		content: "";
 		display: table;
 		clear: both;
 }
}

@mixin container_fix {
	width: auto;

	/*margin: 0 auto;*/

	@media #{$tablet-wdith} {
		width: auto;
	}

	@media #{$desktop-width} {
	width: auto;
	}
}
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx);


body {
  font-family: 'PT Sans', sans-serif;

  min-width: 320px;
}
.container {
  width: 100%;
  height: 100%;
}
.body-warper {
margin: 0 auto;

max-width: 1200px;
background: #fff;
@media #{$desktop-width} {
  width: 93.75%;
  max-width: 1280px;
  margin: 0 auto;
}
}
.main-header {
	background:#ffffff;
	height:57px;
	position: relative;

	margin:0;

}
.main-nav {
	background-color: #81b3d2;
	top: 0px;
	width:100%;
	padding:0;
	/*margin:0 auto;*/
	position: absolute;
  z-index: 1;
}
.main-nav__items {
	list-style: none;


	padding:0;
	margin:0;
	text-align: center;
	li{
		font-size: 0;

	}


}
.main-nav__item a {

		text-transform: uppercase;
		color:#ffffff;
		font-size: 18px;
		line-height: 40px;

		text-decoration:none;
		display: block;
		padding:11px 0px;
    cursor: pointer;
		border-bottom: 1px solid #678fa8;
		border-top: 1px solid #81b3d2;
    &:hover {
      background-color: #669ec0;
    }
    &:active {
      color: #b2b2b2;
    }
	}
.main-nav__logo {
	position: absolute;
	left:50%;
	top:0;
	margin-left:-70px;


}
.main-nav__toggle {
	position: absolute;
	top:0px;
	right:0px;
	z-index: 11;

	display: block;
	width:70px;
	height:57px;

	font-size: 0;

	background-color: #ffffff;
	cursor: pointer;
	border:none;
		&:hover {
			background-color: #ffffff;
		}
		&:active {
			background-color: #ffffff;
		}
}
.main-nav--closed .main-nav__toggle::before {
	content:"";
	position: absolute;
	top:15px;
	left:17px;

	width:36px;
	height: 2px;

	background-color: #81b3d2;
	box-shadow: 0 8px 0 0 #81b3d2,
				0 16px 0 0 #81b3d2;
}

.main-nav--closed .main-nav__toggle:active::before {
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3),
				0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--closed .main-nav__warper{
  display: none;
}
.main-nav--opened .main-nav__toggle {
	top: 6px;
	left: auto;
	right: 0;
	background-color: #81b3d2;
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 24px;
		left: 18px;

		width: 36px;
		height: 2px;
		background-color: #ffffff;
	}

	&::before {
		transform: rotate(45deg);
		box-shadow: none;
	}

	&::after {
		transform: rotate(-45deg);
	}
	&:active::before,
	&:active::after {
		background-color: rgba(255, 255, 255, 0.3);
	}
}
.main-nav--opened .main-nav__logo {
  top: 256px;
}
.main-nav__warper {
		@include container_fix;

	}

@media #{$tablet-wdith} {
  .main-nav--closed .main-nav__warper{
    display: block;
  }
	.main-header {
		padding:0;

	}
	.main-nav {
		position: static;



		background: #ffffff;
	}
	.main-nav__item  {
		display: inline-block;
		vertical-align: top;

	}
	.main-nav__items {

		min-height: 70px;

	}
	.main-nav__item a {
			color: #000000;
			display: block;
			border: none;
			font-size: 14px;
      font-weight: bold;
      &:hover {
        background-color: #ffffff;
        color: $main-blue;
      }
		}
	.main-nav__items li {
		margin-right: 7.5%;
		&:last-child {
			margin-right: 0;
		}
		&:nth-child(2) {
		margin-right: 200px;
		}
	}
	.main-nav__toggle {
		display: none;
	}
	.main-nav--opened .main-nav__logo  {
		position: absolute;
		left:50%;
		margin-left:-60px;
		top:0px;
}
}

@media #{$desktop-width} {
  .main-nav__items li {
		margin-right: 12%;
    &:nth-child(2) {
		  margin-right: 400px;
		}
  }
}
/*intro text*/
.intro {
  text-align: center;
  position: static;
  width: 100%;
  height: 400px;
  background-image:url("../IMG/photo-background@1x.jpg");
  background-repeat: no-repeat;
  background-position:45% 10%;
  background-size: cover;
@media #{$retina} {
 background-image:url("../IMG/photo-background@2x.jpg"), url("../IMG/mask_mobi.png");
 background-size: 1400px auto;
 background-position:55% 35%;
}
}

.Layer_1 {
  display: inline;
  width: 280px;
  /*width: 280px;*/
  position: relative;
  margin-top: 50px;
  fill: #ffffff;
  text-align: center;

}
.Welcome_text {
  fill: #92bdd8;
  width: 100%;
  margin-top: 40px;
}
.tothe {
  width: 100%;
  /*width: 196px;*/
  fill: #766357;
}
.svg-text-becouse {
  width: 197px;/*
  width: 197px;*/
  fill: #ffffff;
  margin-top: 30px;
}
.mask {
  width: 100.1%;
  height: 50px;
  position: absolute;
  top: 408px;
  /*background-image: url("../IMG/mask_mobi.png");*/
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;

  background-image: linear-gradient(10deg, white 25%, transparent 25%),
                    linear-gradient(350deg, white 25%, transparent 25%);
}
* {
  margin: 0;
}
@media #{$tablet-wdith} {
.Welcome_text {

  margin-top: 60px;
}
.tothe {
  margin-top: 15px;
}
.Layer_1 {
  width: 458px;
  margin-top: 10px;

}
.svg-text-becouse {
  width: 296px;
}
.mask {
    top: 422px;
    background-image: url("../IMG/mask-desktop.png");
    background-size: contain;
  }
}
@media #{$desktop-width} {
  .intro {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    background-image:url("../IMG/photo-background@1x.jpg");
    background-repeat: no-repeat;
    background-position:45% 10%;
    background-size: cover;

  }
  .mask {
    background-image: url("../IMG/mask-desktop.png");

    min-height: 70px;
    position: relative;
    top: 12px;
    left:-0.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


  }
  .Welcome_text {

    margin-top: 100px;
  }
  .tothe {
    margin-top: 15px;
  }
  .Layer_1 {
    width: 458px;
    margin-top: 60px;

  }
  .svg-text-becouse {
    width: 296px;
    margin-top: 45px;
  }
}
/*intro-main-text*/
.intro-main-text__title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}
.intro-main-text {
  position: relative;
}
.intro-main-text__main {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

}

@media #{$tablet-wdith} {
  .intro-main-text__title {
  padding: 0 160px;
  margin-top: 58px;
  margin-bottom: 29px;
}
.intro-main-text__main {
  margin-bottom: 30px;
}

}
@media #{$desktop-width} {
  .intro-main-text__title {
    font-size: 21px;
  padding: 0 400px;


}


}
/*main-conten*/
/*main-features*/
.main-content {
  position: relative;
}
.main-feature__leftcol {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.main-feature-title {
  font-weight: bold;
  margin: 0;
  margin-top: 30px;
}


.mask2 {
  /*
  top:179px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 160px 0 160px;
  border-color: #ffffff transparent transparent transparent;
  */
  position: absolute;
  width: 100%;
  height: 50px;
  top: -1px;
  background-image: url("../IMG/mask2.png");
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;

}
.main-feature__rightcol {
  width: 100%;
  min-height: 256px;
  background-image: url("../IMG/photo-city@1x.jpg");
  background-repeat: no-repeat;
  background-position: 55% 50%;
    background-size: cover;
}
@media #{$tablet-wdith} {
.mask2 {
    display: none;
  }
.main-feature {
  display: flex;
  }
.main-feature__leftcol {
  width: 33.2%;
}
.main-feature__rightcol {
  width: 66.8%;
}
.main-feature-title {
    padding: 0 60px;
    line-height: 26px;
    margin-top: 15px;

}
}
@media #{$desktop-width} {
  .main-feature-title {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .main-feature__leftcol p:first-child {
    font-size: 21px;
    padding: 0 100px;
  }
}
/*main-features-2 */
.main-features-2 .main-feature__leftcol {

  padding: 30px 0px;

}
.main-features-2  .main-feature-title {
    margin-top: 15px;
    padding: 0 65px;
    line-height: 26px;
}

.main-features-2 .main-feature__rightcol {
  background-position: 5% 50%;
background-image: url("../IMG/photo-bridge@1x.jpg");
}
.main-features-2 .main-feature__leftcol {
  order: 2;
}
@media #{$desktop-width} {

  .main-features-2 .main-feature__leftcol {
    padding: 50px 0;
  }
  .main-features-2  .main-feature-title {
    margin-top: 15px;
  }
}
/*icons-block */

.svg-house {
  fill: $main-blue;

  margin-left: 6.25%;
}
.svg-present {
  fill: $main-blue;
  width:37px;
  height: 35px;
  margin-left: 6.25%;
}
.svg-burger {
  fill: $main-blue;
  width:37px;
  height: 35px;
  margin-left: 6.25%;
}
.main-content-feature-icons {
  margin: 27px 0;
}
.main-content-feature-icons__title {
  display: inline-block;
  position: relative;
  top: -10px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 8px;

}
.svg-icon {
  margin-left: 6.25%;
}
.main-content-feature-icons__main-text {
  margin-left: 21.87%;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;

}
@media #{$tablet-wdith}{
  .main-content-feature-icons {
    display: flex;
    margin-top: 57px;
  }
  .main-content-feature-icons__title {
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 0px;
  }

  .main-feature__leftcol p:last-child {
    padding: 0 30px;

  }
  .svg-icon {
    display: inline-block;
    text-align: center;
    margin:0;
    width: 77px;
    height: 77px;
    margin-bottom: 20px;
  }
  .main-content-feature-icons__item
   {
     width: 33%;
     text-align: center;
   }
   .main-content-feature-icons__main-text {
      margin-left: 0px;
      padding-left: 46px;
      padding-right: 45px;
   }
}

/*faetures-block */
.features-block__feature-item {
  margin-top: 33px;
    &:first-child {
      margin-top: 0;
    }

}
.features-block__feature-item::after {
  content: "";
  display: block;
  width: 87.5%;
  height: 1px;
  margin: auto;
  background-color: #d6d6d6;
  margin-top: 33px;
}
.features-block__title {
  font-size: 21px;
  line-height: 10px;
 font-weight: bold;
 text-align: center;
 text-transform: uppercase;
}
.features-block__text, .features-block__number {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  padding: 0 53px 0 53px;

}
.features-block {
  padding-top: 30px;
  background-color: #eeeeee;
}
@media #{$tablet-wdith}{
  .features-block {
    display: flex;
    padding-bottom: 47px;
    padding-top: 47px;
}
  .features-block__feature-item::after {
    display: none;
}
.about-squere p:first-child {
  margin-left: 20px;
}
.about-squere p:nth-child(2) {
  margin-left: 20px;
}
.features-block__feature-item {
  width: 33%;
  margin: 0;

}
.features-block__title {
  padding: 0 50px;
  font-size: 21px;
  line-height: 26px;
}
.features-block__text {
  display: inline-block;
  padding: 0 48px;
  margin: 0;
  margin-top: 10px;
}
.features-block__number {
  margin: 0;
}
}
@media #{$desktop-width} {
  .features-block__title {
    padding: 0 30%;
    margin-bottom: 17px;
  }
  .features-block__number {
    margin-bottom: 23px;
  }
  .features-block__text {
    margin: 0;
  }
}
/* Seach-form */
.main-search-form {
  padding-top:32px;
}
.search-form-top__title {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.search-form-top__text {
  @extend .features-block__text;
  padding: 0 30px 0 30px;
  br {
    display: none;
  }
}
.main-search-form__map-button  {
  font-family: "PT Sans", sans-serif;
margin-top: 20px;
background-color: #766357;
padding: 32px 0;
width: 100%;
border: none;
text-align: center;
font-size: 18px;
line-height: 26px;
text-transform: uppercase;
color: #ffffff;
font-weight: bold;
}
.main-search-form-input {
  padding: 25px;

  label {

    text-transform: uppercase;
    font-weight: bold;
  }
}
.search-form-date-in label {
    margin-bottom: 10px;
    display: block;
}
.search-form-date-out label{
  display: block;
}
.search-form-date-in, .search-form-date-out {
  margin-bottom: 20px;
  position: relative;
  input {
    font-weight: bold;
    text-transform: uppercase;
    width: 90%;
    background-color: #eeeeee;
    border: none;
    padding: 8px;
    font-size: 14px;
    line-height: 26px;
  }

}
.search-form-date__calendar-icon {
  position: relative;;
  svg {
    position: absolute;
    right: 7px;
    top: 1px;
    opacity: 0.3;
  }
}
.main-search-form-input__number-warper {
    display: flex;
}
.main-search-form-input__adult-number, .main-search-form-input__kid-number {
  width: 114px;
  .button {
    background-color: #eeeeee;
    text-decoration: none;
    display: block;
    position: relative;
    float: left;
    width: 33%;
    line-height: 38px;
    text-align: center;
  }
  input {
    float: left;
    text-align: center;
    position: relative;
    background-color: #eeeeee;
    border: 2px solid #f2f2f2;
    width: 33%;
    height: 38px;
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
  }
}
.main-search-form-input__kid-number {
  margin-left: 12%;
}
.main-search-form-input__sbutton {
  width: 100%;
  padding: 20px 0;
  background-color: $main-blue;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-top: 44px;


}
@media #{$tablet-wdith}{
  .search-form-top {
    text-align: center;
  }
  .search-form-top__text {
    padding: 0 0px;
    text-align: center;
    br {
      display: block;
    }
  }
  .main-search-form__map-button {
    margin-left: 13%;
    width: 73%;
  }
  .main-search-form-input {
    width: 73%;
    margin-left: 13%;
    padding: 0;
  }
  .search-form-date-in {
    display: flex;

    input {
      width: 60.7%;
      margin-left: 19px;
      margin-top: 55px;
    }
    label {
      margin-top: 65px;
      margin-left: 54px;
    }
    position: relative;
  }
  .search-form-date-out {
    display: flex;
    position: relative;
    input {
      width: 60%;
      margin-left: 19px;

    }
    label {
      margin-top: 10px;
      margin-left: 54px;
    }
    .search-form-date__calendar-icon {
      top:10px;

    }
  }
  .search-form-date__calendar-icon {
    position: absolute;
    right:110px;
    top:63px;
  }

.main-search-form-input__number-warper {
  margin-left: 54px;
}
.main-search-form-input__adult-number, .main-search-form-input__kid-number {
  margin:0;
  display: flex;
width: 230px;
  br {
    display: none;
  }
  label {

    padding-top: 8px;
    margin-right: 10px;
  }
}
.main-search-form-input__kid-number{
  margin-left: 78px;
  label {
    display: block;

  }
}
.main-search-form-input__adult-number {
  label {
    margin-right: 20px;
  }
}
.adult-numer-buttons {
  display: flex;
  width: 114px;
}
.main-search-form-input__sbutton {
  width: 80.35%;
  margin-left: 10%;
}
.main-search-form-input {
  background-color: #ffffff;
  padding-bottom: 55px;
  position: absolute;
  z-index: 10;
}
}
@media #{$desktop-width}{
  .main-search-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-search-form__map-button {
    margin-left: 27%;
    width: 47%;
  }
  .main-search-form-input {
position: absolute;
margin: 0;
    width: 47%;
  left: 50%;
  margin-left: -295px;
  top: 210px;

  }
  .search-form-date-in {
    position: relative;
  }
  .search-form-date__calendar-icon {
    right: 50px;
  }
}
/*map*/
.map {

  width: 100%;
  height: 600px;

}
@media #{$tablet-wdith}{
    .map {


    }
}
/*footer */
.main-footer__hash {
  margin-top: 32px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.svg {
  display: inline;
  fill: #ffffff;
  padding-top: 12px;
}
.main-footer-social-block {
  text-align: center;
  background-color: $main-blue;
  width: 14%;
  display: inline-block;
  max-height: 49px;
  vertical-align: middle;
  margin-left: 10px;
  &:hover {
    background-color: #669ec0;
  }
}
.main-footer-social-blocks{
  margin-top:40px;
  display: flex;
  margin-left: 26.56%;
}
.main-footer-copyright {
  svg {
    position: relative;
    top: 10px;
    padding: 0 10px;
    &:hover {
      fill: $main-blue;
    }
  }
  margin-top: 20px;
  margin-left: 20.32%;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.footer-warp {
  width: 100%;
position: absolute;
  background-color: rgba(255,255,255, 0.8);
  top: -220px;
  padding-bottom: 22px;
}
.main-footer {
  position: relative;
}
@media #{$tablet-wdith}{
  .footer-warp {
    padding: 20px 0;
    display: flex;
    position: absolute;
    top:-80px;
  }
  .main-footer__hash {
    margin-left: 8%;
    margin-top: 10px;
  }
  .main-footer-social-blocks{
    margin-top: 0px;
    margin-left: 18%;
    width: 19.92%;

  }
  .main-footer-copyright {
    margin-top: 0px;
      margin-left: 8.41%;
  }
}
@media #{$desktop-width}{

}
/*Hotels*/
.hotel-header {
  @extend .main-header;
}
.filter-block {
  margin-top: 56px;
  background-image: url("../IMG/bulrBG.png");
  width: 100%;
  min-height: 216px;
  background-repeat: no-repeat;
  background-size: cover;

  background-position:  50% 50%;

}
.filter-warp {
   display: flex;
   padding: 27px 0px;

}
.first-block {
  margin-left: 73px;
  flex-grow: 1;
  flex-basis: 248px;
  display: flex;
  flex-direction: column;

    p {
      margin-top: 25px;
      text-transform: uppercase;
      color: #ffffff;
      &:first-child{
        margin: 0;
      }
    }
}
.second-block {
  flex-grow: 1;
  flex-basis: 248px;
  p {
    margin-top: 25px;
    text-transform: uppercase;
    color: #ffffff;
    &:first-child{
      margin: 0;
    }
  }
}
.range-box {
  flex-grow: 2;
}
.fiter-checkbox__title {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}
