/* Basic styling */
.header__logo {
  width: 70px;
  height: 70px;
  z-index: 10;
  top: -10px;
  position: relative;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}
nav {
  /*background-color: rgba(0, 0, 0, 0.8);*/
  padding: 0 15px;
}
a {
  color: white;
  text-decoration: none;
}
.header__menu,
.submenu {
  list-style-type: none;
}

.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

/* Mobile menu */
.header__menu {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
}
.header__tel {
  display: none;
}
.header__menu li a {
  display: block;
  padding: 15px 5px;
}
.header__menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* humburger */
.menu-icon-wrapper {
  /*   background: red; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #fff;
  right: 15px;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: static;
    flex-wrap: nowrap;
    background: none;
  }
  .header__logo {
    width: 100px;
    height: 100px;
    z-index: 10;
    top: 0;
    position: relative;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
  .menu-icon-wrapper {
    display: none;
  }
  .warper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header {
    background-color: rgba(0, 0, 0, 1);
  }
  .header__tel {
    display: block;
    color: #fff;
  }
}
/* main screen */
.main-screen {
  background-image: url('./img/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-screen__title {
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
}
@media all and (min-width: 960px) {
  .main-screen {
    background-image: url('./img/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-screen__title {
    vertical-align: middle;
    color: #fff;
    font-size: 55px;
  }
}
/* main-service */
.main-service {
  text-align: center;
  color: #a38b70;
  font-weight: bold;
}
.main-service__item {
  text-align: center;
  border-bottom: 1px #444 solid;
  text-transform: uppercase;
}
.main-service__items {
  background-color: black;
  color: #ccc;
}
@media all and (min-width: 960px) {
  .main-service {
    height: 70vh;
  }
  .main-service:first-child {
    background-color: red;
  }
  .test {
    background-color: black;
  }
  .main-service__title {
    margin: 20px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 55px;
    font-family: 'Georgia', serif;
    color: #a38b70;
    text-transform: uppercase;
  }
  .main-service__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    gap: 10px;
  }
  .main-service__item {
    background-color: #fff;
    color: #000;
    border: 0.5px #ccc solid;
    font-weight: bold;
    padding: 10px;
  }
  .main-service__item:hover {
    background-color: #ccc;
  }
}
/* main-form */
.main-check-in-title {
  text-align: center;
}
.main-check-in__form input[type='text'],
.main-check-in__form input[type='tel'],
.main-check-in__form textarea {
  width: 100%;
  border: 2px solid #d5d5d5;
}
.main-check-in-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 55px;
  font-family: 'Georgia', serif;
  color: #a38b70;
}
input[type='submit'] {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 5px;
  padding: 10px;
  color: #a38b70;
  text-transform: uppercase;
  border: 2px solid #a38b70;
  border-radius: 5px;
}
input {
  padding: 2px 5px;

  font-family: 'Roboto', sans-serif;
  vertical-align: middle;

  border: 1px solid #cccccc;
  border-radius: 5px;
}
@media all and (min-width: 960px) {
  .main-check-in {
    background-color: #111;
    min-height: 50vh;
    color: white;
    margin-top: 20px;
  }
  .main-check-in-title {
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    font-family: 'Georgia', serif;
    color: #a38b70;
  }
}

/* footer */
.main-footer {
  display: flex;
  background-color: black;
  min-height: 50px;
  justify-content: space-between;
}
.copyright {
  color: blanchedalmond;
  align-self: center;
  padding-left: 20px;
}
.social {
  align-self: center;
  padding-right: 20px;
}
.header__menu .item a:hover {
  background-color: wheat;
  color: black;
}
.main-map-contacts__map {
  width: 100%;
  min-height: 220px;
}
.main-map-contacts {
  background-color: blue;
  color: #ccc;
}
/* contacts */
@media all and (min-width: 960px) {
  .main-map-contacts {
    display: flex;
  }
  .main-map-contacts__contacts {
    width: 100%;
    color: #fff;

    text-align: left;
    vertical-align: middle;
    display: grid;
    margin-left: 50px;
    align-content: center;
  }
  .main-map-contacts__contacts a {
    color: #fff;
  }
  .main-map-contacts__map {
    width: 100%;
    min-height: 500px;
  }
  .main-map-contacts__contacts h2 {
    margin-top: 50px;
  }
}
