/* Basic styling */

.header__logo {
  width: 70px;
  height: 70px;
  z-index: 10;
  top: -10px;
  position: relative;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}
nav {
  padding: 0 15px;
}
a {
  color: white;
  text-decoration: none;
}
.header__menu,
.submenu {
  list-style-type: none;
}

.item {
  padding: 10px;
  font-size: 2rem;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}
@media all and (min-width: 960px) {
  html {
    font-size: 80%;
  }
}
/* Mobile menu */
.header__menu {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(5, 38, 57, 0.8);
  z-index: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
}
.header__tel {
  display: none;
}
.header__menu li a {
  display: block;
  padding: 15px 5px;
}
.header__menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* humburger */
.menu-icon-wrapper {
  /*   background: red; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #fff;
  right: 15px;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: static;
    flex-wrap: nowrap;
    background: none;
  }
  .header__logo {
    width: 100px;
    height: 100px;
    z-index: 10;
    top: 0;
    position: relative;
  }
  .logo {
    order: 0;
  }
  .header__menu li a {
    font-size: 1.5rem;
  }
  .header__menu .item a:hover::after {
    content: "";
    display: block;
    border: 1px #fff solid;
    position: relative;
    top: 10px;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
  .menu-icon-wrapper {
    display: none;
  }
  .warper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header {
    background-color: rgba(5, 38, 57, 0.8);
  }
  .header__tel {
    display: block;
    color: #fff;
    font-size: 1.5rem;
  }
}
/* main screen */
.main-screen {
  background-image: url("./img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-screen__title {
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
}
@media all and (min-width: 960px) {
  .main-screen {
    background: linear-gradient(rgba(0, 0, 0, 1), transparent),
      url("./img/background1.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-screen__title {
    vertical-align: middle;
    color: #fff;
    font-size: 6rem;
  }
}
/*main-features */
.main-features {
  display: block;
}
.main-features__title {
  margin: auto;
  display: block;
  width: 100%;
  text-align: center;
  color: #a38b70;
  background-color: rgba(4, 35, 56, 1);
  padding: 1rem 0;
  text-transform: uppercase;
}

.main-features_feature {
  display: flex;
  flex-direction: column;
  padding-left: 7rem;
  margin: 0 auto;
}
.main-features_feature img {
  position: relative;
  left: -6rem;
  top: 5rem;
}
@media all and (min-width: 960px) {
  .main-features {
    display: flex;
    align-items: flex-start;
    padding: 5rem 0;
  }

  .main-features_feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 0rem;
  }
  .main-features__title {
    display: none;
  }

  .main-features_feature img {
    position: static;
  }
  .main-feature__title {
    font-size: 2rem;
  }
  .main-feature__text {
    display: block;
    padding: 0 2rem;
    font-weight: 400;
    font-size: 1.2rem;
  }
}
/* main-service */

.main-service {
  text-align: center;
  color: #a38b70;
  font-weight: bold;
}

.main-service__title {
  margin-top: 2rem;
  background-color: rgba(4, 35, 56, 1);
  padding: 1rem 0;
  text-transform: uppercase;
}
.main-service__item {
  text-align: center;
  border-bottom: 1px #444 solid;
  text-transform: uppercase;
  padding: 1.5rem 0;
}
.main-service__items {
  background-color: rgb(1, 50, 78);
  color: #ccc;
}
.main-service__item img {
  display: none;
}
.main-service__tabs {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(4, 35, 56, 1);
}
[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}
.tab {
  cursor: pointer;
  padding: 10px;
  width: 50%;
  text-transform: uppercase;
}
.tab.active {
  border: 2px black solid;
  background-color: rgb(100, 158, 197);
  color: #fff;
}

@media all and (min-width: 960px) {
  .main-service {
    min-height: 60vh;
    background: linear-gradient(rgb(17, 22, 46), transparent),
      url("./img/3295243.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .test {
    margin-bottom: 50px;
  }
  .main-service:first-child {
    background-color: red;
  }

  .main-service__title {
    margin: 0 auto;
    font-weight: bold;
    font-size: 3rem;
    font-family: "Georgia", serif;
    color: #a38b70;
    text-transform: uppercase;
    background-color: transparent;
  }
  .main-service__items {
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-service__item {
    background-color: #fff;
    color: #000;
    border: 0.1rem rgb(0, 0, 0) solid;
    font-weight: bold;
    transition: background 0.5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    width: 17rem;
    margin: 2rem 2.5rem;
  }
  .main-service__item:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.8);
  }
  .main-service__item img {
    display: block;
  }
  .main-service__item p {
    color: black;
    font-size: 1.5rem;
    padding-top: 2rem;
  }
  .main-service__tabs .tab {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }
  .main-service__tabs {
    background-color: transparent;
    justify-content: space-around;
  }
  .tab.active {
    border: none;
    background-color: transparent;
    color: #fff;
  }
  .tab.active::after {
    content: "";
    display: block;
    border-bottom: 1px rgb(255, 255, 255) solid;
    position: relative;
    top: 10px;
  }
  .tab {
    width: auto;
  }
}
/* main-form */
.main-check-in {
  color: #000;
}
.main-map-contacts__item a {
  color: #000;
}
.main-check-in-title {
  text-align: center;
}
.main-check-in__form input[type="text"],
.main-check-in__form input[type="tel"],
.main-check-in__form textarea {
  width: 100%;
  border: 2px solid #d5d5d5;
}
.main-check-in-title {
  font-weight: bold;
  font-size: 2rem;
  font-family: "Georgia", serif;
  color: #a38b70;
}
input[type="submit"] {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  border-radius: 3rem;
  padding: 1rem;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
input[type="submit"]:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
input {
  padding: 2px 5px;
  font-family: "Roboto", sans-serif;
  vertical-align: middle;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
@media all and (min-width: 960px) {
  .main-check-in__warper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 4rem;
  }
  .main-map-contacts__item {
    display: flex;
  }
  .main-map-contacts__item h3 {
    padding: 1rem 0;
  }
  .main-map-contacts__item img {
    position: relative;
    top: 1rem;
    right: 2rem;
  }
  .main-map-contacts__item:nth-of-type(3) img {
    position: relative;
    top: 6rem;
    right: 2rem;
  }
  .main-check-in {
    background-color: #ebecf0;
    min-height: 50vh;
    color: black;
    padding-bottom: 3rem;
  }
  .main-check-in-title {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    color: #a38b70;
  }
  .main-check-in-title::after {
    content: "";
    display: block;
    width: 200px;
    margin: 0 auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  .main-check-in__form input[type="text"],
  .main-check-in__form input[type="tel"],
  .main-check-in__form textarea {
    /*border: 2px solid #d5d5d5;*/
    font-family: "Montserrat", sans-serif;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 2rem;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #ebecf0;
    color: #8a97a0;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    text-shadow: 1px 1px 0 #fff;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  }
  .main-check-in__form input[type="text"]:focus,
  .main-check-in__form input[type="tel"]:focus,
  .main-check-in__form textarea:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }
  .main-check-in__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
    display: block;
    text-align: center;
    width: 50rem;
    padding: 1rem;
    border: 1px solid rgba(1, 50, 78, 0.2);
  }
}
/* Map */

/* footer */
.main-footer {
  display: flex;
  background-color: rgba(5, 38, 57, 0.8);
  min-height: 50px;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.copyright {
  color: blanchedalmond;
  align-self: center;
  order: 3;
}
.social {
  align-self: center;

  order: 2;
}
.social__adress {
  order: 1;
}
.main-map-contacts__map {
  width: 100%;
  min-height: 220px;
}
.main-map-contacts {
  background-color: blue;
  color: #ccc;
}
@media all and (min-width: 960px) {
  .social {
    padding-right: 20px;
  }
}
/* contacts */
.main-map-contacts__contacts {
  text-align: center;
}
@media all and (min-width: 960px) {
  .main-footer {
    display: flex;
    background-color: rgba(5, 38, 57, 0.8);
    min-height: 50px;
    padding: 50px 0;
    font-size: 1.5rem;
    justify-content: space-around;
    flex-direction: row;
  }
  .main-map-contacts {
    display: flex;
  }
  .main-map-contacts__contacts {
    width: 100%;
    width: 300px;
    text-align: left;
    vertical-align: middle;
    margin-left: 50px;
    align-content: center;
  }
  .main-map-contacts__contacts a {
    color: rgb(0, 0, 0);
  }
  .main-map-contacts__map {
    width: 100%;
    min-height: 500px;
  }
  .main-map-contacts__title {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 0;
  }
}
